In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('Datasets/Iris.csv')

In [4]:
data

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [4]:
data.shape

(150, 5)

In [5]:
data.columns

Index(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Species'],
      dtype='object')

In [6]:
data.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [7]:
data.tail(10)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [8]:
data.isna().sum()

Sepal_Length    0
Sepal_Width     0
Petal_Length    0
Petal_Width     0
Species         0
dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal_Length  150 non-null    float64
 1   Sepal_Width   150 non-null    float64
 2   Petal_Length  150 non-null    float64
 3   Petal_Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [10]:
data['Species'].nunique()

3

In [11]:
data['Species'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [12]:
data['Species'].value_counts()

Species
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64

In [13]:
data=pd.read_csv('Datasets/cars93.csv')

In [14]:
data

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,Driver only,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0
...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,19.7,17,Driver & Passenger,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,Driver & Passenger,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,Driver & Passenger,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0

In [15]:
data.shape

(93, 10)

In [16]:
data.head(10)

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,Driver only,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0
5,Buick,Century,Midsize,15.7,22,Driver only,110,6,28.0,16.0
6,Buick,LeSabre,Large,20.8,19,Driver only,170,6,30.5,17.0
7,Buick,Roadmaster,Large,23.7,16,Driver only,180,6,30.5,21.0
8,Buick,Riviera,Midsize,26.3,19,Driver only,170,5,26.5,14.0
9,Cadillac,DeVille,Large,34.7,16,Driver only,200,6,35.0,18.0

In [17]:
data.isna().sum()

Manufacturer       0
Model              0
Type               0
Price              0
MPG.city           0
AirBags           14
Horsepower         0
Passengers         0
Rear.seat.room     2
Luggage.room      11
dtype: int64

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Manufacturer    93 non-null     object
 1   Model           93 non-null     object
 2   Type            93 non-null     object
 3   Price           93 non-null     float64
 4   MPG.city        93 non-null     int64
 5   AirBags         79 non-null     object
 6   Horsepower      93 non-null     int64
 7   Passengers      93 non-null     int64
 8   Rear.seat.room  91 non-null     float64
 9   Luggage.room    82 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 7.4+ KB

In [19]:
data

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,Driver only,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0
...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,19.7,17,Driver & Passenger,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,Driver & Passenger,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,Driver & Passenger,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0

In [20]:
data[data['Rear.seat.room'].isna()]

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
18,Chevrolet,Corvette,Sporty,38.0,17,Driver only,300,2,NaN,NaN
56,Mazda,RX-7,Sporty,32.5,17,Driver only,255,2,NaN,NaN

In [21]:
rows_to_delete=data[data['Rear.seat.room'].isna()].index

In [22]:
data1=data.drop(rows_to_delete)

In [23]:
data1.isna().sum()

Manufacturer       0
Model              0
Type               0
Price              0
MPG.city           0
AirBags           14
Horsepower         0
Passengers         0
Rear.seat.room     0
Luggage.room       9
dtype: int64

In [24]:
data1[data1['Luggage.room'].isna()]

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
15,Chevrolet,Lumina_APV,Van,16.3,18,Driver only,170,7,30.5,NaN
16,Chevrolet,Astro,Van,16.6,15,NaN,165,8,33.5,NaN
25,Dodge,Caravan,Van,19.0,17,Driver only,142,7,26.5,NaN
35,Ford,Aerostar,Van,19.9,15,Driver only,145,7,30.0,NaN
55,Mazda,MPV,Van,19.1,18,Driver & Passenger,155,7,27.5,NaN
65,Nissan,Quest,Van,19.1,17,NaN,151,7,27.0,NaN
69,Oldsmobile,Silhouette,Van,19.5,18,Driver & Passenger,170,7,30.5,NaN
86,Toyota,Previa,Van,22.7,18,Driver only,138,7,35.0,NaN
88,Volkswagen,Eurovan,Van,19.7,17,Driver & Passenger,109,7,34.0,NaN

In [25]:
data1.head()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,Driver only,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0

In [26]:
data1[data1['Type']=='Van']['Luggage.room']   #.mean('Luggage.room')

15   NaN
16   NaN
25   NaN
35   NaN
55   NaN
65   NaN
69   NaN
86   NaN
88   NaN
Name: Luggage.room, dtype: float64

In [27]:
data['Type'].value_counts()

Type
Midsize    22
Small      21
Compact    16
Sporty     14
Large      11
Van         9
Name: count, dtype: int64

In [28]:
##Fill missing values for type by 0
data1['Luggage.room']= data1['Luggage.room'].fillna(0)

In [29]:
data1.isna().sum()

Manufacturer       0
Model              0
Type               0
Price              0
MPG.city           0
AirBags           14
Horsepower         0
Passengers         0
Rear.seat.room     0
Luggage.room       0
dtype: int64

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Manufacturer    93 non-null     object
 1   Model           93 non-null     object
 2   Type            93 non-null     object
 3   Price           93 non-null     float64
 4   MPG.city        93 non-null     int64
 5   AirBags         79 non-null     object
 6   Horsepower      93 non-null     int64
 7   Passengers      93 non-null     int64
 8   Rear.seat.room  91 non-null     float64
 9   Luggage.room    82 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 7.4+ KB

In [31]:
data.head()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,Driver only,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0

In [32]:
data[data['AirBags'].isna()]

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
16,Chevrolet,Astro,Van,16.6,15,NaN,165,8,33.5,NaN
32,Ford,Tempo,Compact,11.3,22,NaN,96,5,27.5,13.0
46,Hyundai,Sonata,Midsize,13.9,20,NaN,128,5,31.0,14.0
53,Mazda,Protege,Small,11.6,28,NaN,103,5,26.5,13.0
61,Mitsubishi,Mirage,Small,10.3,29,NaN,92,5,26.0,11.0
65,Nissan,Quest,Van,19.1,17,NaN,151,7,27.0,NaN
67,Oldsmobile,Achieva,Compact,13.5,24,NaN,155,5,28.0,14.0
71,Plymouth,Laser,Sporty,14.4,23,NaN,92,4,24.5,8.0
72,Pontiac,LeMans,Small,9.0,31,NaN,74,4,25.5,17.0
73,Pontiac,Sunbird,Compact,11.1,23,NaN,110,5,25.0,13.0
79,Subaru,Justy,Small,8.4,33,NaN,73,4,23.5,10.0
80,Subaru,Loyale,Small,10.9,25,NaN,90,5,27.5,15.0
82,Suzuki,Swift,Small,8.6,39,NaN,70,4,27.5,10.0
87,Volkswagen,Fox,Small,9.1,25,NaN,81,4,26.0,10.0

In [33]:
data['AirBags'].value_counts()

AirBags
Driver only           57
Driver & Passenger    22
Name: count, dtype: int64

In [34]:
value = data1['AirBags'].value_counts().index[0]

In [35]:
data1['AirBags'] = data1['AirBags'].fillna(value)

In [36]:
data1.isna().sum()

Manufacturer      0
Model             0
Type              0
Price             0
MPG.city          0
AirBags           0
Horsepower        0
Passengers        0
Rear.seat.room    0
Luggage.room      0
dtype: int64

In [37]:
data['AirBags'].mode()[0]

'Driver only'