# 1.Refer to googleplaystore.csv file and solve following questions

## a. Display First 5 records from Dataframe.

In [1]:
import numpy as np
import pandas as pd

In [6]:
data=pd.read_csv('E:/FBS/DataAnalysis/Datasets/googleplaystore.csv')
data

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

## b. Display category with highest number of apps registered.

In [8]:
# data['Category'].max()
category_counts = data['Category'].value_counts()
print("\nCategory with highest number of apps:")
print(category_counts.idxmax(), "-", category_counts.max())

Category with highest number of apps:
FAMILY - 1972

## c. What is the average rating for all the apps

In [10]:
avg_rating = np.mean(data['Rating'].dropna())
print("\nAverage rating of all apps:")
print(avg_rating)

Average rating of all apps:
4.193338315362443

## d. Display total number of apps which even supports Andriod version 2.3 and up

In [11]:
android_23 = data[data['Android Ver'].str.contains("2.3", na=False)]
print("\nTotal apps supporting Android 2.3 and up:")
print(android_23.shape[0])

Total apps supporting Android 2.3 and up:
933

## e. Impute the missing values available in rating column with respective measure of central tendency.

In [13]:
missing_before = data['Rating'].isnull().sum()
data['Rating'] = data['Rating'].fillna(avg_rating)
missing_after = data['Rating'].isnull().sum()

print("\nMissing values in Rating column:")
print("Before imputation:", missing_before)
print("After imputation:", missing_after)

Missing values in Rating column:
Before imputation: 1474
After imputation: 0

# 2.Refer to salaries.xlsx file and solve following questions

## a. Check head of the dataframe

In [20]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [5]:
df = pd.read_excel("E:/FBS/DataAnalysis/Datasets/Salaries.xlsx")

In [4]:
print("Head of the DataFrame:")
print(df.head())

Head of the DataFrame:
   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
1  2011    NaN  San Francisco     NaN
2  2011    NaN  San Francisco     NaN
3  2011    NaN  San Francisco     NaN
4  2011    NaN  San Francisco     NaN

## b. Find out details about no. of entries & no. of columns in the data frame

In [6]:
print("\nNumber of entries:", df.shape[0])
print("Number of columns:", df.shape[1])

Number of entries: 1000
Number of columns: 13

## c. What is the average base pay?

In [7]:
print("\nAverage Base Pay:")
print(np.mean(df['BasePay']))

Average Base Pay:
145663.9982

## d. What is the highest amount of overtime pay in the dataset?

In [8]:
print("\nHighest Overtime Pay:")
print(df['OvertimePay'].max())

Highest Overtime Pay:
245131.88

## e. What is the job title of JOSEPH DRISCOLL?

In [9]:
print("\nJob Title of JOSEPH DRISCOLL:")
print(df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle'].values[0])

Job Title of JOSEPH DRISCOLL:
CAPTAIN, FIRE SUPPRESSION

## f. How much does JOSEPH DRISCOLL make (including benefits)?

In [10]:
print("\nTotal Pay (including benefits) of JOSEPH DRISCOLL:")
print(df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'].values[0])

Total Pay (including benefits) of JOSEPH DRISCOLL:
270324.91

## g. How many unique job titles are there?

In [11]:
print("\nNumber of unique job titles:")
print(df['JobTitle'].nunique())

Number of unique job titles:
113

## h. What are the top 5 common jobs?

In [12]:
print("\nTop 5 common jobs:")
print(df['JobTitle'].value_counts().head(5))

Top 5 common jobs:
JobTitle
FIREFIGHTER                           133
LIEUTENANT, FIRE DEPARTMENT            62
FIRE FIGHTER PARAMEDIC                 43
CAPTAIN, FIRE SUPPRESSION              42
BATTALION CHIEF, (FIRE DEPARTMENT)     41
Name: count, dtype: int64