In [4]:
import pandas as pd
import numpy as np

## Data Collection

In [5]:
data=pd.read_csv('../DataScience/Datasets/salaries for VIF.csv')

In [6]:
data.head()

   Years of Experience  Education Level  Age  Location Factor  Salary
0                   29                1   49                7  124204
1                   27                3   45                4  125948
2                   20                4   41                8  116078
3                   14                4   37                5  106486
4                   20                3   42                7  113297

## Feature Engineering

In [7]:
y=data['Salary']
data=data.drop('Salary',axis=1)

In [8]:
data.shape[1]

4

In [9]:
data.head()

   Years of Experience  Education Level  Age  Location Factor
0                   29                1   49                7
1                   27                3   45                4
2                   20                4   41                8
3                   14                4   37                5
4                   20                3   42                7

### VIF-Variance Inflation Factor

In [10]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [11]:
def calculate(data):
    vif=[]
    output=pd.DataFrame()
    output['Attribute']=data.columns
    for i in range(0,data.shape[1]):
        vif.append(variance_inflation_factor(data,i))
    output['vif']=vif
    return output

In [12]:
calculate(data)

             Attribute        vif
0  Years of Experience  22.342087
1      Education Level   5.472969
2                  Age  42.201149
3      Location Factor   4.289467

In [13]:
data=data.drop('Age',axis=1)

In [14]:
data.head()

   Years of Experience  Education Level  Location Factor
0                   29                1                7
1                   27                3                4
2                   20                4                8
3                   14                4                5
4                   20                3                7

In [15]:
calculate(data)

             Attribute       vif
0  Years of Experience  3.198601
1      Education Level  3.509425
2      Location Factor  3.231181

In [16]:
X=data

In [17]:
X.head()
y.head()

0    124204
1    125948
2    116078
3    106486
4    113297
Name: Salary, dtype: int64

## Split Data into training and testing

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [ ]:
X_train.head()

## Build Model

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr=LinearRegression()

## Train model

In [ ]:
lr.fit(X_train,y_train)

In [ ]:
test_pred=lr.predict(X_test)

In [ ]:
# X_test

In [ ]:
# test_pred

In [ ]:
# data.loc[521]

## Check Accuracy

In [ ]:
from sklearn.metrics import r2_score,mean_squared_error

In [ ]:
r2_score(y_test,test_pred)

In [ ]:
mean_squared_error(y_test,test_pred)

In [ ]:
np.sqrt(mean_squared_error(y_test,test_pred))

## Deploy Model

In [ ]:
coeff=lr.coef_
coeff

In [ ]:
intercept=lr.intercept_
intercept

In [ ]:
data.head()

In [ ]:
lr.predict([[29,1,7]])

In [ ]:
# lr.predict([[29,1,8]])