In [11]:
import pandas as pd
import numpy as np

In [2]:
data=pd.Series([23,80,80,12,90,30,22,66,90,65])

In [3]:
data.mean()

np.float64(55.8)

In [4]:
data.median()

np.float64(65.5)

In [5]:
data.mode()

0    80
1    90
dtype: int64

In [6]:
data=pd.read_csv('Datasets/shoe_sales.csv')

In [7]:
data

         date   brand  sold_qty
0    9/1/2023    Nike      24.0
1    9/1/2023  Adidas      14.0
2    9/2/2023    Nike      21.0
3    9/2/2023  Adidas      12.0
4    9/3/2023    Nike      18.0
5    9/3/2023  Adidas      11.0
6    9/4/2023    Nike      22.0
7    9/4/2023  Adidas      13.0
8    9/5/2023    Nike      20.0
9    9/5/2023  Adidas      10.0
10   9/6/2023    Nike      23.0
11   9/6/2023  Adidas      15.0
12   9/7/2023    Nike      19.0
13   9/7/2023  Adidas      16.0
14   9/8/2023    Nike      17.0
15   9/8/2023  Adidas       8.0
16   9/9/2023    Nike      25.0
17   9/9/2023  Adidas      17.0
18  9/10/2023    Nike      14.0
19  9/10/2023  Adidas       7.0
20  9/11/2023    Nike      23.0
21  9/11/2023  Adidas       9.0
22  9/12/2023    Nike      19.0
23  9/12/2023  Adidas     689.0
24  9/13/2023    Nike      16.0
25  9/13/2023  Adidas      11.0
26  9/14/2023    Nike      22.0
27  9/14/2023  Adidas      13.0
28  9/15/2023    Nike      17.0
29  9/15/2023  Adidas      10.0
30  9/16/2023    Nike      21.0
31  9/16/2023  Adidas      14.0
32  9/17/2023    Nike       NaN
33  9/17/2023  Adidas       8.0
34  9/18/2023    Nike      18.0
35  9/18/2023  Adidas      15.0
36  9/19/2023    Nike      15.0
37  9/19/2023  Adidas       7.0
38  9/20/2023    Nike      24.0
39  9/20/2023  Adidas      19.0
40  9/21/2023    Nike      24.0
41  9/21/2023  Adidas      18.0
42  9/22/2023    Nike      16.0
43  9/22/2023  Adidas      12.0
44  9/23/2023    Nike      20.0
45  9/23/2023  Adidas      11.0
46  9/24/2023    Nike      15.0
47  9/24/2023  Adidas      14.0
48  9/25/2023    Nike       NaN
49  9/25/2023  Adidas      10.0
50  9/26/2023    Nike      19.0
51  9/26/2023  Adidas       9.0
52  9/27/2023    Nike      22.0
53  9/27/2023  Adidas      13.0
54  9/28/2023    Nike      21.0
55  9/28/2023  Adidas      15.0
56  9/29/2023    Nike      17.0
57  9/29/2023  Adidas       8.0
58  9/30/2023    Nike      18.0
59  9/30/2023  Adidas      16.0

In [8]:
data.head()

       date   brand  sold_qty
0  9/1/2023    Nike      24.0
1  9/1/2023  Adidas      14.0
2  9/2/2023    Nike      21.0
3  9/2/2023  Adidas      12.0
4  9/3/2023    Nike      18.0

In [9]:
data.shape

(60, 3)

In [10]:
data['brand'].unique()

array(['Nike', 'Adidas'], dtype=object)

In [12]:
data['brand'].value_counts()

brand
Nike      30
Adidas    30
Name: count, dtype: int64

In [13]:
data.isna().sum()

date        0
brand       0
sold_qty    2
dtype: int64

In [14]:
data[data['sold_qty'].isna()]

         date brand  sold_qty
32  9/17/2023  Nike       NaN
48  9/25/2023  Nike       NaN

In [19]:
data1=data[data['brand']=='Nike']['sold_qty'].mean()
data1

np.float64(19.642857142857142)

In [20]:
data['sold_qty'].fillna(data1,inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_13036\2322602150.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['sold_qty'].fillna(data1,inplace=True)